@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

::-webkit-scrollbar {
  @apply hidden;
}

@theme {
  --color-primary: #0891B2;
}

*{
  font-family: Outfit;
}

body {
  background-color: #f8fafc;
}
